@tailwind base;
@tailwind components;
@tailwind utilities;
.deepBlue{
    background-color: #02042a;
}
.textdeepBlueHead{
    color:#162f56 ;
}
.bglightBlue{
    color: #2b84ea;
}
.textlightBlue500{
    color: #0b72e7;
}
.textgrayText{
    color:#818597 ;
}
.textgreenLight{
   color: #61cea6; 
}
.bggreenLight{
    background-color: #61cea6;
}


